* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #414535;
}

a:hover {
    color: #618985;
}

body {
    background-color: #C19875;
    color: #414535;
}

header {
    max-width: 100%;
    min-width: 1200px;
    display: flex;
    justify-content: center;

    font-size: 22px;
}

main {
    max-width: 100%;
    min-width: 1200px;
    height: 600px;

    display: grid;
    grid-template-rows: 60px;
}

#search-container {
    background-color: #96BBBB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#search-container option, input, label, select, button {
    font-size: 16px;
}

#search-container input {
    width: 225px;
    text-align: center;
}

#page-container {
    display: flex;
    justify-content: center;
}

#paging {
    width: 225px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#brewery-container {
    background-color: #F2E3BC;
    width: 1fr;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#brewery {
    height: 200px;
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;

    background-color: #C19875;
    margin: 5px;
}

#brewery h3 {
    justify-self: self-end
}